/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --animate-snow-1: animate-snow-1 5s infinite ease-in-out;
  --animate-snow-2: animate-snow-2 5s infinite ease-in-out;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(210, 80%, 54%);
  --first-color-alt: hsl(210, 80%, 50%);
  --title-color: hsl(210, 24%, 90%);
  --text-color: hsl(210, 16%, 70%);
  --white-color: #fff;
  --body-color: hsl(210, 32%, 4%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animations */
}

/* Snow animation */
@keyframes animate-snow-1 {
  0%, 100% {
    transform: scale(.5);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes animate-snow-2 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  display: flex;
  color: var(--white-color);
}

.nav__logo img{
  width: 30px;
  transform: rotate(-10deg);
}


.nav__logo{
  align-items: center;
  column-gap: .25rem;
  font-family: var(--second-font);
  font-style: var(--h2-font-size);
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 3.5rem;
    transition: top .4s;
  } 
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link{
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__img-1,
.nav__img-2{
  position: absolute;
}

.nav__img-1{
  width: 40px;
  top: 6rem;
  left: 2.5rem;
  transform: rotate(-15deg);
}

.nav__img-2{
  width: 60px;
  right: 1rem;
  bottom: 2rem;
  transform: rotate(15deg);
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Change background header */
.bg-header{
  background: var(--body-color);
}

/* Active link */
.active-link{
  color: var(--first-color);
}


/*=============== HOME ===============*/
.home{
  position: relative;
  background: linear-gradient(180deg,
            hsl(210, 88%, 20%),
            hsl(210, 70%, 58%));
  height: 500px;
  padding-top: 7rem;
  overflow: hidden;
  bottom: 4rem;
}

.home__title{
  color: var(--white-color);
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-top: 3.5rem;
}

.home img{
  position: absolute;
}

.home__mountain-1, 
.home__snow{
  bottom: 0;
}

.home__village,
.home__pine,
.home__moon,
.home__trineo{
  left: 0;
  right: 0;
  margin: 0 auto;
}

.home__village{
  width: 260px;
  bottom: 1.5rem;
}

.home__pine{
  width: 250px;
  bottom: 4rem;
}

.home__mountain-2{
  bottom: 3rem;
}

.home__mountain-3{
  bottom: 6rem;
}

.home__moon{
  width: 250px;
  bottom: 6rem;
}

.home__trineo{
  width: 250px;
  bottom: 12rem;
}

/*=============== ABOUT ===============*/


/*=============== BUTTON ===============*/


/*=============== SEND ===============*/


/*=============== CELEBRATE ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(210, 8%, 15%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(210, 8%, 25%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(210, 8%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  background-color: var(--white-color);
  display: inline-flex;
  padding: .45rem;
  border-radius: .45rem;
  font-size: 1rem;
  color: var(--body-color);
  z-index: var(--z-tooltip);
  transition: bottom .3s transform .3s;
  opacity: 0;
}

.scrollup:hover{
  transform: translateY(-.25rem);
  transition: .3s;
}

/* Show Scroll Up */
.show-scroll{
  opacity: 1;
  transition: .7s;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px){
  .home__vilage{
    width: 360px;
  }

  .home__pine{
    width: 330px;
  }
}

@media screen and (min-width: 767px){
  .nav__toggle,
  .nav__close,
  .nav__img-1,
  .nav__img-2{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .home{
    height: 800px;
  }

  .home__village{
    width: 460px;
  }
  
  .home__pine{
    width: 400px;
    bottom: 7rem;
  }

  .home__moon{
    width: 450px;
    bottom: 12rem;
  }

  .home__trineo{
    width: 350px;
    bottom: 20rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .section{
    padding-block: 7rem 3rem;
  }

  .home__title{
    font-size: 4rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .scrollup{
    right: 3rem;
  }
}

@media screen and (min-width: 1064px) {
  .container{
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .home{
    height: 980px;
  }

  .home__title{
    font-size: var(--biggest-font-size);
  }

  .home__mountain-1,
  .home__mountain-1,
  .home__mountain-1,
  .home__snow{
    width: 100%;
    bottom: 0;
  }

  .home__village{
    width: 550px;
    bottom: 4.5rem;
  }

  .home__pine{
    width: 500px;
    bottom: 11.4rem;
  }

  .home__mountain-1,
  .home__mountain-2{
    bottom: -.5rem;
  }
  
  .home__moon{
    width: 525px;
    bottom: 15rem;
  }

  .home__trineo{
    width: 500px;
    bottom: 26rem;
  }
}
/* For 2K+ resolutions */
